h1{
  font-size:40px;
  width:100%;
  margin:60px auto;
  text-align:center;
  display:inline-block;
  height:70px;
  line-height:70px;
  color:rgba(70, 28, 0, 0.808);
  margin-bottom:200px;
  font-family:'crayon_1-1';
}

#deleteicon{
  height:50px;
  width:70%;
  font-family:'Nちはやフォント+';
  background-color:#34AAB8;
  color:#fff;
  margin:100px auto;
  display:block;
  border-color: white;
  box-shadow: none;
  border-radius: 5px;
  text-align:center;
  line-height:50px;
  transition:0.1s;
}
#deleteicon:active{
  transform:translateY(2px);
}
