@charset "UTF-8";

/*---Reset---*/
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {
}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/*クラス定義*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
*+html .clearfix{min-height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face{
  font-family:'Nちはやフォント+';
  src: url('../Nちはやフォント+.ttf');
}
body{
  font-family:'Nちはやフォント+';
}
header{
  height:auto;
  width:100%;
}
header img{
  width:400px;
  margin:0 auto;
}
main{
  border-bottom:2px solid #34AAB8;
  border-top:2px solid #ff9096;
  background-image:url("../img/back.jpg");
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  color:rgb(88, 88, 88);
}
h1{
  font-size:40px;
  width:100%;
  margin:60px auto;
  text-align:center;
  display:inline-block;
  height:70px;
  line-height:70px;
  color:rgba(70, 28, 0, 0.808);
  margin-bottom:30px;
  font-family:'crayon_1-1';
}
table{
  width:80%;
  margin:30px auto;
}
th{
  width:calc(100% / 4);
  padding:10px;
  text-align: center;
  border:1px solid gray;
}
td{
  width:calc(100% / 4);
  border:1px solid gray;
}
td p{
  text-align: center;
}
h2{
  font-size:20px;
  width:100%;
  margin:20px auto;
  text-align:center;
  display:inline-block;
  height:40px;
  line-height:70px;
  color:#34AAB8;
}
#delete{
  display:block;
  width:300px;
  margin:40px auto;
  text-align:center;
}
footer{
  color:#34AAB8;
  height:100px;
}
footer p{
  margin:0 auto;
  width:300px;
  text-align:center;
  line-height:100px;
}
@font-face{
  font-family:'crayon_1-1';
  src: url('../crayon_1-1.ttf');
}
footer p{
  font-family:'crayon_1-1';
}
#deleteicon{
  height:50px;
  width:70%;
  font-family:'Nちはやフォント+';
  background-color:#34AAB8;
  color:#fff;
  margin:100px auto;
  display:block;
  border-color: white;
  box-shadow: none;
  border-radius: 5px;
  text-align:center;
  line-height:50px;
  transition:0.1s;
}
#deleteicon:active{
  transform:translateY(2px);
}
.thwidth th{
  width:calc(100% / 5);
}
.thwidth td{
  width:calc(100% / 5);
}
#logout{
  width:100px;
  margin:0 auto;
  display:block;
  color:#34AAB8;
  text-align:center;
  margin-top:20px;
}
